NODE_ENV=development
PORT=5000
DATABASE_URL="postgresql://postgres:arya123@localhost:5432/evalsphere?schema=public"
JWT_SECRET="210df4d3b5c55f6858f6f25313abcd7abe97c076a5ced21171b4a0727a9dcb7e"
JWT_EXPIRES_IN="7d"
REFRESH_TOKEN_DAYS=30
